
.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('bg.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  text-rendering: optimizeLegibility;
  height: 100%;
}

.name{
  font-size: 7.35rem;
  margin: 0 0;
}

.info {
  font-family: 'Red Hat Display', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.text {
  position: relative;
  top:50%;
  transform: translate(0, -50%);
}

@media (max-width: 850px) {
  .info {
    font-size: 25px;
  }
  .name{
    font-size: 85px;
    margin: 0 0;
  }
}
@media (max-width: 600px) {
  .info {
    font-size: 15px;
  }
  .name{
    font-size: 55px;
    margin: 0 0;
  }
}
@media (max-width: 400px) {
  .info {
    margin-top: 20px;
    font-size: 10px;
  }
  .name{
    font-size: 40px;
    margin: 0 0;
  }
}